 <!-- Modal -->
 
 <div class="modal fade" id="{%block modal_id%}{%endblock%}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content bg-dark csilver font-weight-bold">
        <div class=" navbar ">
          
          <h4 class="modal-title font-weight-bold ">Join<span class="text-warning">Us</span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <form action="{%block url%}{%endblock%}" method="POST">
              {%csrf_token%}
              {%block form%}{%endblock%}
              <div class="d-flex justify-content-center">
                <button type="submit" class="neon_a btn btn-md font-weight-bold">{%block btn%}{%endblock%}</button>
                
                <button type="button" class="btn btn-default text-muted font-weight-bold" data-dismiss="modal">Cancel</button>
              </div> 
          </form>
          <a href=""></a>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>
